<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>게시글 작성 페이지</h2>
    </div>
    <form th:action th:object="${postForm}" method="post">

        <div>
            <label for="title">제목</label>
            <input type="text" id="title" th:field="*{title}" th:errorclass="field-error" class="form-control" placeholder="제목을 입력하세요">
            <div class="field-error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
        </div>

        <div>
            <label for="content">내용</label>
            <textarea id="content" rows="10" th:field="*{content}" th:errorclass="field-error" class="form-control" placeholder="내용을 입력하세요"></textarea>
            <div class="field-error" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></div>
        </div>

        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="btn btn-primary" type="submit">작성</button>
            </div>
            <div class="col">
                <button class="btn btn-secondary"
                        onclick="location.href='boardList.html'"
                        th:onclick="|location.href='@{/posts/list}'|"
                        type="button">취소</button>
            </div>
        </div>
    </form>
</div> <!-- /container -->
</body>
</html>