<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/all.css}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e7ffae9d08.js" crossorigin="anonymous"></script>
</head>

<style>
    .borderless-button {
        border: 1px solid #007bff; /* 테두리 색상 */
        background-color: transparent; /* 배경색 투명 */
        color: #007bff; /* 텍스트 색상 */
        transition: background-color 0.3s, color 0.3s; /* 부드러운 효과 */
    }

    .borderless-button:hover {
        background-color: #007bff; /* hover 시 배경색 */
        color: white; /* hover 시 텍스트 색상 */
    }
</style>

<body>
<header th:replace="~{layout/header :: header}"></header>

<div class="container">

    <form th:action th:object="${post}" method="get">

        <h4 class="fw-bold py-2 mt-5" th:text="*{title}">작성글 제목</h4>
        <div class="d-flex justify-content-between">
            <span class="me-5" th:text="${post.user.username}"></span>
            <span th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}"></span>
            <div class="d-flex ms-auto">
                <div class="me-3">
                    <i class="fa-regular fa-message"></i>
                    <span th:text="${post.commentCount}"></span>
                </div>
                <div class="me-3">
                    <i class="fa-regular fa-heart"></i>
                    <span th:text="${post.likesCount}"></span>
                </div>
            </div>
        </div>

        <hr class="my-2">

        <!-- 글 내용 -->
        <div style="height:200px" class="py-4" th:text="*{content}">작성글 내용</div>
        <br/>

        <div class="d-flex justify-content-end" th:if="${post.user.id} == ${loginUser.id}">
            <button class="borderless-button btn btn-success me-1" type="button"
                    th:onclick="|location.href='@{/posts/edit(postId=${postId})}'|">Update
            </button>
            <button class="borderless-button btn btn-success me-1" type="button"
                    th:onclick="|location.href='@{/posts/delete(postId=${postId})}'|">Delete
            </button>
        </div>

        <!-- 좋아요 버튼 추가 -->
        <div class="d-flex justify-content-center">
            <a href="javascript:void(0);" class="like btn btn-sm btn-outline-secondary"
               th:data-uri="@{|/posts/likes/${post.id}|}">Like
                <span class="badge rounded-pill bg-success" th:text="${post.likesCount}"></span>
            </a>
        </div>
    </form>

    <br>
    <!-- Comment -->
    <div class="container">
        <!-- Create Comment Form -->
        <form th:action="@{/posts/{postId}/comments(postId=${postId})}" th:object="${commentForm}" method="post">
            <div class="d-flex">
                <div class="flex-grow-1 me-2">
                    <textarea type="text" id="content" th:field="${commentForm.content}" rows="3"
                              th:errorclass="field-error" class="form-control m-2" placeholder="Add a comment">
                    </textarea>
                    <div class="field-error" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></div>
                </div>
                <button class="btn-outline-secondary btn m-2 text-nowrap" type="submit">Comment</button>
            </div>
        </form>
        <hr>

        <!-- Comment list -->
        <div th:each="comment : ${comments}">
            <div class="card shadow-sm d-flex">
                <div class="d-flex justify-content-between align-items-center ms-2 p-2">
                    <div class="fw-bold" th:text="|${comment.user.loginId}   (${#temporals.format(comment.createdDate, 'yyyy-MM-dd HH:mm')})|"></div>
                    <div th:if="${comment.user.id} == ${loginUser.id}">
                        <button class="borderless-button btn btn-sm me-1"
                           th:onclick="|location.href='@{/posts/{postId}/comments/edit/{commentId}(postId=${postId}, commentId=${comment.id})}'|">Update
                        </button>
                        <button class="borderless-button btn btn-sm me-1"
                           th:onclick="|location.href='@{/posts/{postId}/comments/delete/{commentId}(postId=${postId}, commentId=${comment.id})}'|">Delete
                        </button>
                    </div>
                </div>
                <div class="card-text ms-3 me-3 mb-3" th:text="${comment.content}">Comment content</div>
            </div>
        </div>
    </div>
    <!-- Comment End-->

    <button class="btn btn-secondary mt-4" type="button"
            th:onclick="|location.href='@{/posts/list}'|">Back to list
    </button>

    <div th:replace="~{layout/footer :: footer}"></div>

</div> <!-- /container -->

<script>
    const like_elements = document.getElementsByClassName("like");
    Array.from(like_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            location.href = this.dataset.uri;
        });
    });
</script>

</body>
</html>