<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/all.css}" rel="stylesheet">
</head>

<style>
    .borderless-button {
        border: 1px solid #007bff; /* 테두리 색상 */
        background-color: transparent; /* 배경색 투명 */
        color: #007bff; /* 텍스트 색상 */
        transition: background-color 0.3s, color 0.3s; /* 부드러운 효과 */
    }

    .borderless-button:hover {
        background-color: #007bff; /* hover 시 배경색 */
        color: white; /* hover 시 텍스트 색상 */
    }
</style>

<body>
<header th:replace="layout/header :: header"></header>

<div class="container">

    <form th:action th:object="${post}" method="get">

        <div class="py-4">
            <h4 th:text="*{title}">작성글 제목</h4>
        </div>

        <hr class="my-2">

        <!-- 게시글 정보 한줄 -->
        <div class="d-flex justify-content-between">
            <span th:text="'# : '+*{id}"># : postId</span>&nbsp;
            <span th:text="' | Writer : '+${post.user.loginId}"> | Writer : writer</span>&nbsp;
            <span th:text="' | Posting Date : '+${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm')}"> | Posting Date : 2024-10-09</span>&nbsp;
            <span th:text="' | Views : '+*{views}"> | Views : 0</span>
        </div>

        <hr class="my-2">

        <!-- 글 내용 -->
        <div style="height:200px" class="py-4" th:text="*{content}">작성글 내용</div>

        <br/>
        <hr class="my-4">

        <div class="d-flex justify-content-end">
                <button class="btn btn-secondary me-2" type="button"
                        th:onclick="|location.href='@{/posts/list}'|">Back to list
                </button>
                <div th:if="${post.user.id} == ${loginUser.id}" >
                <button class="btn btn-primary me-2" type="button"
                        th:onclick="|location.href='@{/posts/edit(postId=${postId})}'|">Update
                </button>
                <button class="btn btn-danger me-2" type="button"
                        th:onclick="|location.href='@{/posts/delete(postId=${postId})}'|">Delete
                </button>
                </div>
        </div>
    </form>

    <br>
    <!-- Comment -->
    <div class="container">
        <!-- Create Comment Form -->
        <form th:action="@{/posts/{postId}/comments(postId=${postId})}" th:object="${commentForm}" method="post">
            <div class="d-flex">
                <div class="flex-grow-1 me-2">
                    <textarea type="text" id="content" th:field="${commentForm.content}" rows="3"
                              th:errorclass="field-error" class="form-control m-2">
                    </textarea>
                    <div class="field-error" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></div>
                </div>
                <button class="btn-outline-secondary btn m-2 text-nowrap" type="submit">Create Comment</button>
            </div>
        </form>
        <hr>

        <!-- Comment list -->
        <div th:each="comment : ${comments}">
            <div class="card shadow-sm d-flex">
                <div class="d-flex justify-content-between align-items-center ms-2 p-2">
                    <div class="fw-bold" th:text="|${comment.user.loginId}   (${#temporals.format(comment.createdDate, 'yyyy-MM-dd HH:mm')})|"></div>
                    <div th:if="${comment.user.id} == ${loginUser.id}">
                        <button class="borderless-button btn btn-sm me-1"
                           th:onclick="|location.href='@{/posts/{postId}/comments/edit/{commentId}(postId=${postId}, commentId=${comment.id})}'|">Update
                        </button>
                        <button class="borderless-button btn btn-sm me-1"
                           th:onclick="|location.href='@{/posts/{postId}/comments/delete/{commentId}(postId=${postId}, commentId=${comment.id})}'|">Delete
                        </button>
                    </div>
                </div>
                <div class="card-text ms-3 me-3 mb-3" th:text="${comment.content}">Comment content</div>
            </div>
        </div>
    </div>
    <!-- Comment End-->

    <div th:replace="layout/footer :: footer"></div>

</div> <!-- /container -->
</body>
</html>