<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/all.css}" rel="stylesheet">
</head>

<body>
<header th:replace="layout/header :: header"></header>

<div class="container">

    <form th:action th:object="${post}" method="get">

        <div class="py-4">
            <h4 th:text="*{title}">작성글 제목</h4>
        </div>

        <hr class="my-2">

        <!-- 게시글 정보 한줄 -->
        <div class="d-flex justify-content-between">
            <span th:text="'# : '+*{id}"># : postId</span>&nbsp;
            <span th:text="' | Writer : '+${post.user.loginId}"> | Writer : writer</span>&nbsp;
            <span th:text="' | Posting Date : '+${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm')}"> | Posting Date : 2024-10-09</span>&nbsp;
            <span th:text="' | Views : '+*{views}"> | Views : 0</span>
        </div>

        <hr class="my-2">

        <!-- 글 내용 -->
        <div style="height:200px" class="py-4" th:text="*{content}">작성글 내용</div>

        <br/>
        <hr class="my-4">

        <div class="d-flex justify-content-end">
                <button class="btn btn-secondary me-2" type="button"
                        th:onclick="|location.href='@{/posts/list}'|">Back to list
                </button>
                <button th:if="${access}" class="btn btn-primary me-2" type="button"
                        th:onclick="|location.href='@{/posts/edit(postId=${post.id})}'|">Update
                </button>
                <button th:if="${access}" class="btn btn-danger me-2" type="button"
                        th:onclick="|location.href='@{/posts/delete(postId=${post.id})}'|">Delete
                </button>
        </div>

    </form>

    <div th:replace="layout/footer :: footer"></div>

</div> <!-- /container -->
</body>
</html>