<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/all.css}" rel="stylesheet">

    <style>
        table {
            width: 100%; /* 전체 너비 */
            border-collapse: collapse; /* 테두리 겹침 방지 */
        }
        th, td {
            padding: 10px; /* 셀 안쪽 여백 */
        }
        th {
            text-align: center; /* 텍스트 중앙 정렬 */
        }
        td {
            text-align: center; /* 텍스트 중앙 정렬 */
        }
        tr:hover {
            background-color: #f5f5f5; /* 마우스 오버 시 배경색 변경 */
        }
        .row {
            text-align: right;
        }
    </style>

</head>

<body>
<header th:replace="layout/header :: header"></header>

<div class="container">

    <div class="py-5 text-center">
        <h2>Forum</h2>
    </div>

    <hr class="my-4">

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th style="width: 100px;">#</th>
                <th style="width: 500px;">Title</th>
                <th style="width: 150px;">Writer</th>
                <th style="width: 150px;">Posting Date</th>
                <th style="width: 100px;">Views</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${postList}">
                <td th:text="${post.id}"></td>
                <td style="text-align: left"><a th:text="${post.title}" th:href="@{/posts/{postId}(postId=${post.id})}"></a></td>
                <td th:text="${post.writer}"></td>
                <td th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd')}"></td>
                <td th:text="${post.views}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary"
                    th:onclick="|location.href='@{/posts/create}'|" type="button">Create
            </button>
        </div>
    </div>

    <div th:replace="layout/footer :: footer"></div>

</div> <!-- /container -->
</body>
</html>