<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/all.css}" rel="stylesheet">
    <link th:href="@{/css/postList.css}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e7ffae9d08.js" crossorigin="anonymous"></script>

    <style>


    </style>
</head>

<body>
<header th:replace="~{layout/header :: header}"></header>

<div class="container">

    <!-- Search bar start-->
    <div class="col-lg-12 search-form mt-4">
        <form class="row" id="search-form" th:action="@{/posts/search}" method="get">
            <div class="col-lg-3 col-sm-12 p-0">
                <select class="form-control">
                    <option>Title</option>
                    <option>Title+Content</option>
                    <option>Content</option>
                    <option>Writer</option>
                </select>

                <!--<select th:field="${sortType}">
                    <option th:each="sortType : ${sortTypes}" th:value="${sortType}" th:text="${sortType.description}"></option>
                </select>-->

            </div>
            <div class="col-lg-8 col-sm-12 p-0">
                <input type="text" class="form-control" id="search" name="keyword" placeholder="Search..." >
            </div>
            <div class="col-lg-1 col-sm-12 p-0">
                <button type="submit" class="btn btn-base">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                </button>
            </div>
        </form>
    </div>
    <!-- Search bar end-->

    <hr class="my-4">

    <!-- posts list -->
    <div th:each="post : ${postList}">
        <div class="card rounded mb-3 shadow">
            <a th:href="@{/posts/{postId}(postId=${post.id})}">
                <div class="card-header">
                    <h5 class="fw-bold" th:text="${post.title}"></h5>
                    <div class="d-flex justify-content-between">
                        <span class="me-3" th:text="${post.user.name}"></span>
                        <span th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="text-decoration-none" th:text="${post.content}"></div>
                </div>
            </a>
            <div class="card-footer">
                <div class="d-flex post-actions">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex align-items">
                            <div class="me-3">
                                <i class="fa-regular fa-eye"></i>
                                <span th:text="${post.views}"></span>
                            </div>
                            <div class="me-3">
                                <i class="fa-regular fa-message"></i>
                                <span th:text="${post.commentCount}"></span>
                            </div>
                            <div class="me-3">
                                <i class="fa-regular fa-heart"></i>
                                <span>0</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- posts list -->

    <!-- Pagination start -->
    <div class="mt-5">
        <th:block th:if="${!postList.isEmpty()}">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${!postList.hasPrevious} ? 'disabled'">
                    <a class="page-link text-secondary" th:href="@{|?page=${0}|}">
                        <span><<</span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${!postList.hasPrevious} ? 'disabled'">
                    <a class="page-link text-secondary" th:href="@{/posts/search(page=${postList.number - 1}, keyword=${param.keyword})}">
                        <span><</span>
                    </a>
                </li>

                <li th:each="page: ${#numbers.sequence(postList.number / 10 * 10,
                (postList.number / 10 * 10 + 9) >= (postList.totalPages - 1) ? (postList.totalPages - 1) : (postList.number / 10 * 10 + 9))}"
                     th:classappend="${page == postList.number} ? 'active'" class="page-item">
                    <a th:text="${page + 1}" class="page-link" th:href="@{/posts/search(page=${page}, keyword=${param.keyword})}"></a>
                </li>

                <li class="page-item" th:classappend="${!postList.hasNext} ? 'disabled'">
                    <a class="page-link text-secondary" th:href="@{/posts/search(page=${postList.number + 1}, keyword=${param.keyword})}">
                        <span>></span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${!postList.hasNext} ? 'disabled'">
                    <a class="page-link text-secondary" th:href="@{|?page=${postList.totalPages - 1}|}">
                        <span>>></span>
                    </a>
                </li>
            </ul>
        </th:block>
    </div>
    <!-- Pagination end -->

    <div class="row text-end">
        <div class="col">
            <button class="btn btn-primary"
                    th:onclick="|location.href='@{/posts/create}'|" type="button">Create
            </button>
        </div>
    </div>

    <div th:replace="~{layout/footer :: footer}"></div>

</div> <!-- /container -->
</body>
</html>