<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>-->
    <script src="https://kit.fontawesome.com/e7ffae9d08.js" crossorigin="anonymous"></script>

    <style>
        .container {
            max-width: 1200px;
        }
        .card-body a {
            color: inherit;
            text-decoration: none;
        }
        .card-body a:hover {
            text-decoration: underline;
            color: #1a1e21;
        }
        .card-body p {
            margin-bottom: 0.3rem;
        }
        .comment-title, .comment-date {
            font-size: 0.8em;
            color: gray;
        }
    </style>
</head>

<body>
<header th:replace="~{layout/header :: header}"></header>

<div class="container">

    <div class="col-sm-10 mb-2 mt-5">
        <h1 th:text="|Hello, ${user.name}|"></h1>
    </div>
    <hr>

    <div class="row">
        <div class="col-sm-3">
            <ul class="list-group">
                <li class="list-group-item bg-secondary text-white">Profile</li>
                <li class="list-group-item d-flex justify-content-between"><strong>Login ID:</strong><span th:text="${user.loginId}"></span></li>
                <li class="list-group-item d-flex justify-content-between"><strong>Email:</strong><span th:text="${user.email}"></span></li>
                <li class="list-group-item d-flex justify-content-between"><strong>Name:</strong><span th:text="${user.name}"></span></li>
            </ul>

            <ul class="list-group mb-4 mt-4">
                <li class="list-group-item bg-secondary text-white">Activity</li>
                <li class="list-group-item d-flex justify-content-between"><strong>Likes:</strong><span th:text="${user.likesCount}"></span></li>
                <li class="list-group-item d-flex justify-content-between"><strong>Posts:</strong><span th:text="${user.postCount}"></span></li>
                <li class="list-group-item d-flex justify-content-between"><strong>Comments:</strong><span th:text="${user.commentCount}"></span></li>
            </ul>

            <ul class="list-group mb-4 mt-4">
                <a class="list-group-item" th:href="@{/users/editProfile}">Edit Profile</a>
                <a class="list-group-item" th:href="@{/users/changePassword}">Change Password</a>
                <a class="list-group-item" th:href="@{/users/deleteAccount}">Delete Account</a>
            </ul>
        </div>

        <div class="col-sm-9">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="posts-tab" data-bs-toggle="tab" href="#posts" type="button" role="tab" aria-controls="posts" aria-selected="true">My Posts</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="comments-tab" data-bs-toggle="tab" href="#comments" type="button" role="tab" aria-controls="comments" aria-selected="false">My Comments</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="likes-tab" data-bs-toggle="tab" href="#likes" type="button" role="tab" aria-controls="likes" aria-selected="false">Liked Posts</button>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Title</th>
                                <th>Created Date</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="post : ${posts}">
                                <td><a th:href="@{/posts/{id}(id=${post.id})}" th:text="${post.title}"></a></td>
                                <td th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd')}"></td>
                                <td class="d-flex justify-content-end">
                                    <div class="d-flex align-items">
                                        <div class="me-3">
                                            <i class="fa-regular fa-message"></i>
                                            <span th:text="${post.commentCount}"></span>
                                        </div>
                                        <div class="me-3">
                                            <i class="fa-regular fa-heart"></i>
                                            <span th:text="${post.likesCount}"></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="tab-pane fade" id="comments" role="tabpanel" aria-labelledby="comments-tab">
                    <div class="card-deck">
                        <div class="card" th:each="comment : ${comments}">
                            <div class="card-body">
                                <a th:href="@{/posts/{id}(id=${comment.post.id})}">
                                    <p th:text="${comment.content}"></p>
                                    <p class="comment-title" th:text="${comment.post.title}"></p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <p class="comment-date mb-0" th:text="${#temporals.format(comment.createdDate, 'yyyy-MM-dd')}"></p>
                                        <div class="d-flex justify-content-end">
                                            <div class="d-flex align-items">
                                                <div class="me-3">
                                                    <i class="fa-regular fa-message"></i>
                                                    <span th:text="${comment.post.commentCount}"></span>
                                                </div>
                                                <div class="me-3">
                                                    <i class="fa-regular fa-heart"></i>
                                                    <span th:text="${comment.post.likesCount}"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="likes" role="tabpanel" aria-labelledby="likes-tab">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Title</th>
                                <th>Created Date</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="like : ${likes}">
                                <td><a th:href="@{/posts/{id}(id=${like.post.id})}" th:text="${like.post.title}"></a></td>
                                <td th:text="${#temporals.format(like.post.createdDate, 'yyyy-MM-dd')}"></td>
                                <td class="d-flex justify-content-end">
                                    <div class="d-flex align-items">
                                        <div class="me-3">
                                            <i class="fa-regular fa-message"></i>
                                            <span th:text="${like.post.commentCount}"></span>
                                        </div>
                                        <div class="me-3">
                                            <i class="fa-regular fa-heart"></i>
                                            <span th:text="${like.post.likesCount}"></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div th:replace="~{layout/footer :: footer}"></div>

</div><!-- /container -->
</body>
</html>
