
/* search bar start */
.search-form {
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    border-radius: 8px;
    background-color: #ffffff;
    padding-left: 1rem;
    padding-right: 1rem;
}

.search-form input {
    height: 100%;
    background: transparent;
    border: 0;
    display: block;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
}

.search-form select {
    background: transparent;
    border: 0;
    padding: 1rem;
    height: 100%;
    font-size: 1rem;
}

.search-form select:focus {
    border: 0;
}

.search-form button {
    height: 100%;
    width: 100%;
    font-size: 1rem;
}

.search-form button svg {
    width: 24px;
    height: 24px;
}
/* search bar end */

/* postList start */
.card {
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
    -webkit-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
    -moz-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
    -ms-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #f2f4f9;
    border-radius: 1rem;
}
.rounded {
    border-radius: 1rem !important;
}
.card-header {
    padding: 0.875rem 1.5rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid #f2f4f9;
}
.card-footer {
    padding: 0.875rem 1.5rem;
    background-color: rgba(0, 0, 0, 0);
    border-top: 1px solid #f2f4f9;
}
body{
    background-color: #f9fafb;
    margin-top:20px;
}
.card:hover {
    background-color: #f5eded;
    cursor: pointer;
}
.card a {
    text-decoration: none;
    color: inherit;
}
.card a:hover {
    text-decoration: none;
    color: inherit;
}
/* postList end */

/* pagination start */
.page-item.active .page-link {
    background-color: #6c757d;
    color: #fff; !important;
    border: none;
}
.page-link {
    color: #313334;
}
/* pagination end */